openapi: '3.0.3'
info:
  title: Endpoints
  description: Rotas para a API v2 interna do Catarse
  version: 'v2'
servers:
  - url: https://catarse.me/api/v2
    description: Servidor de produção
  - url: https://sandbox.catarse.me/api/v2
    description: Servidor de sandbox

tags:
  - name: Assinaturas
  - name: Cartões de Crédito
  - name: Endereços
  - name: Níveis de Apoio
  - name: Opções de Cobrança
  - name: Pagamentos
  - name: Países
  - name: Simulações de Parcelamento
  - name: Tokens de Autenticação
  - name: Webhooks

paths:
  /backer/billing/credit_cards:
    $ref: ./paths/backer/billing/credit_cards.yml
  /backer/billing/installment_simulations:
    $ref: ./paths/backer/billing/installment_simulations.yml
  /backer/billing/payments:
    $ref: ./paths/backer/billing/payments.yml
  /backer/membership/subscriptions:
    $ref: ./paths/backer/membership/subscriptions.yml


  /creator/membership/tiers/{tier_id}/billing_options:
    $ref: ./paths/creator/membership/billing_options.yml
  /creator/membership/billing_options/{id}:
    $ref: ./paths/creator/membership/billing_option.yml
  /creator/membership/projects/{project_id}/tiers:
    $ref: ./paths/creator/membership/tiers.yml
  /creator/membership/tiers/{id}:
    $ref: ./paths/creator/membership/tier.yml


  /common/addresses:
    $ref: ./paths/common/addresses.yml
  /common/countries:
    $ref: ./paths/common/countries.yml

  /integrations/webhooks/{provider}:
    $ref: ./paths/integrations/webhooks.yml

  /account/auth_tokens:
    $ref: ./paths/account/auth_tokens.yml
  /account/auth_tokens/me:
    $ref: ./paths/account/auth_tokens_me.yml

components:
  schemas:
    $ref: ./schemas.yml
